<!-- begin askform -->
<div class="ask">
	<div class="ask__inner inner">
		<div class="ask__row row">
			<div class="ask__col col col-6 col-sm-12 color-black">
				<h2 class="ask__title titlesm">Ask us anything</h2>
				<div class="ask__description">For any questions or inquiries, please contact  us. It would be a pleasure to help you. Looking forward to meet!</div>
				<form class="ask__form form">
					<div class="form__row">
						<div class="form__colname">
							<div class="field">
								<div class="input"><input type="text" placeholder="Name"></div>
							</div>
						</div>
						<div class="form__colemail">
							<div class="field">
								<div class="input"><input type="text" placeholder="Email"></div>
							</div>
						</div>
					</div>
					<div class="field">
						<div class="input"><input type="text" placeholder="Subject"></div>
					</div>
					<div class="field">
						<div class="textarea"><textarea placeholder="Message"></textarea></div>
					</div>
					<div class="form__footer">
						<button class="btn" type="submit">Send</button>
					</div>
				</form>
			</div>
			<div class="ask__col col col-6 col-sm-12">
				<div class="ask__schedule">
					<h3 class="ask__title titlesm">Schedule</h3>
					<div class="ask__rowsschedule row">
						<div class="ask__colschedule col col-6 col-sm-12">
							<div class="label">Monday - Thursday</div>
							<div class="ask__time titlesm">6AM - 10PM</div>
						</div>
						<div class="ask__colschedule col col-6 col-sm-12">
							<div class="label">Saturday</div>
							<div class="ask__time titlesm">8AM - 2PM</div>
						</div>
						<div class="ask__colschedule col col-6 col-sm-12">
							<div class="label">Friday</div>
							<div class="ask__time titlesm">6AM - 7PM</div>
						</div>
						<div class="ask__colschedule col col-6 col-sm-12">
							<div class="label">Sunday</div>
							<div class="ask__time titlesm">9AM - 1PM</div>
						</div>
					</div>
				</div>
				<div class="ask__locations">
					<div class="ask__title titlesm">Locations</div>
					<div class="ask__rowscollocations row">
						<div class="ask__collocations col col-6 col-sm-12 sm-hide">
							<div class="town">100 rue Gaston-Dumoulin Ste101</div>
						</div>
						<div class="ask__collocations col col-6 col-sm-12">
							<div class="town">10190 Henri-Bourassa Est</div>
						</div>
						<div class="ask__collocations col col-6 col-sm-12">
							<div class="street">Blainville, <br>QC J7C 0A3</div>
						</div>
						<div class="ask__collocations sm-show col col-6 col-sm-12">
							<div class="town">10190 Henri-Bourassa Est</div>
						</div>
						<div class="ask__collocations col col-6 col-sm-12">
							<div class="street">Montreal, <br>Quebec H1C 1T1 </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end askform -->