<!-- begin coaches -->
<div class="coaches color-black">
	<div class="coaches__inner inner">
		<h2 class="coaches__titlesm titlesm text-center">Meet the officers</h2>
		<div class="coaches__description text-center">If you want to be guided by the best team of coaches your are in the right place. They will help you to definite and reach your goal. Trust them and work hard! </div>
		<div class="coaches__row row">
			<div class="coaches__col col col-6 col-sm-12">
				<a href="#" class="coach">
					<span class="coach__img">
						<img src="./img/coach-1.png" alt="img">
					</span>
					<div class="coach__head">
						<h4 class="coach__title titlesm">Sarah Anton</h4>
						<div class="coach__position">Fitness coach & co-founder</div>
						<div class="coach__icon">{{ mixins.icon('inst') }}</div>
					</div>
				</a>
			</div>
			<div class="coaches__col col col-6 col-sm-12">
				<a href="#" class="coach">
					<span class="coach__img">
						<img src="./img/coach-2.png" alt="img">
					</span>
					<div class="coach__head">
						<h4 class="coach__title titlesm">Yahia Hikmat</h4>
						<div class="coach__position">Fitness coach & co-founder</div>
						<div class="coach__icon">{{ mixins.icon('inst') }}</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- end coaches -->
