<!-- begin footer -->
<div class="footer">
	<div class="footer__inner inner">
		<div class="footer__top">
			<div class="footer__left">
				<a href="#" class="logo">
					<img src="./img/logo.png" alt="img">
				</a>
			</div>
			<div class="footer__right">
				<ul class="lang footer__item md-hide">
					<li class="is-active"><a href="#">Français</a></li>
					<li><a href="#">English</a></li>
				</ul>
				<a href="tel:450-232-5742" class="phone footer__item md-hide">450-232-5742</a>
				<a href="#" class="btn-simple btn-simple_sm footer__item md-hide">Write to us</a>
				<a href="#" class="btn btn_sm footer__item md-hide">Become a member</a>
				<div class="md-show">
					<ul class="footer__soc soc">
						<li><a href="#">{{ mixins.icon('fb') }}</a></li>
						<li><a href="#">{{ mixins.icon('inst') }}</a></li>
						<li><a href="#">{{ mixins.icon('youtube') }}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer__middle md-hide">
			<ul class="footer__menu menu">
				<li class="menu__item is-active"><a href="#" class="menu__link">Menu</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Gym</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Services</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Coaches</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Testimonial</a></li>
				<li class="menu__item"><a href="#" class="menu__link">Contacts</a></li>
			</ul>
		</div>
		<div class="footer__bottom">
			<div class="footer__copy copy">&copy; 2020 by AstrofitWorld</div>
			<ul class="footer__soc soc md-hide">
				<li><a href="#">{{ mixins.icon('fb') }}</a></li>
				<li><a href="#">{{ mixins.icon('inst') }}</a></li>
				<li><a href="#">{{ mixins.icon('youtube') }}</a></li>
			</ul>
			<div class="footer__rights">All right reserved</div>
		</div>
	</div>
</div>
<!-- end footer -->