<!-- begin gen -->
<div class="gen">
	<div class="gen__inner inner">
		<div class="gen__row row">
			<div class="gen__col col col-3 col-md-6 col-sm-12 is-active">
				<div class="gen__container">
					<div class="gen__bg">
						<img src="./img/gen-photo.jpg" alt="img">
					</div>
					<div class="gen__wrap">
						<div class="gen__icon"><img src="./img/gen-1.svg" alt="img"></div>
						<h4 class="gen__titlexs titlexs">We can motivated to stop</h4>
						<div class="gen__text">Your goals don’t stop for anyone! We’re here to keep you on the right track!</div>
					</div>
					<div class="gen__footer sm-hide">
						<a href="#" class="btn btn_white">Book now</a>
					</div>
				</div>
			</div>
			<div class="gen__col col col-3 col-md-6 col-sm-12">
				<div class="gen__container">
					<div class="gen__bg">
						<img src="./img/gen-photo.jpg" alt="img">
					</div>
					<div class="gen__wrap">
						<div class="gen__icon"><img src="./img/gen-2.svg" alt="img"></div>
						<h4 class="gen__titlexs titlexs">Use it or <br>loose it</h4>
						<div class="gen__text">It’s about doing something every day that brings you closer to your goals!</div>
					</div>
					<div class="gen__footer sm-hide">
						<a href="#" class="btn btn_white">Book now</a>
					</div>
				</div>
			</div>
			<div class="gen__col col col-3 col-md-6 col-sm-12">
				<div class="gen__container">
					<div class="gen__bg">
						<img src="./img/gen-photo.jpg" alt="img">
					</div>
					<div class="gen__wrap">
						<div class="gen__icon"><img src="./img/gen-3.svg" alt="img"></div>
						<h4 class="gen__titlexs titlexs">Push your <br>limits</h4>
						<div class="gen__text">Nothing incredible lies in the comfort zone. Let’s push limits together!</div>
					</div>
					<div class="gen__footer sm-hide">
						<a href="#" class="btn btn_white">Book now</a>
					</div>
				</div>
			</div>
			<div class="gen__col col col-3 col-md-6 col-sm-12">
				<div class="gen__container">
					<div class="gen__bg">
						<img src="./img/gen-photo.jpg" alt="img">
					</div>
					<div class="gen__wrap">
						<div class="gen__icon"><img src="./img/gen-4.svg" alt="img"></div>
						<h4 class="gen__titlexs titlexs">Confidence</h4>
						<p>Build your self confidence</p>
					</div>
					<div class="gen__footer sm-hide">
						<a href="#" class="btn btn_white">Book now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end gen -->