<!-- begin hero -->
<div class="hero js-slider-wrap">
	<div class="hero__slider js-hero-slider">
		<div class="hero__slide">
			<div class="hero__bg">
				<img src="./img/hero-slide.jpg" alt="img">
			</div>
			<div class="hero__inner-sm inner">
				<h1 class="hero__titlelg titlelg"><span class="colorblue">Welcome</span>to Astrofit</h1>
				<div class="hero__footer">
					<a href="#" class="btn">Free training e-book</a>
				</div>
			</div>
		</div>
		<div class="hero__slide">
			<div class="hero__bg">
				<img src="./img/hero-slide.jpg" alt="img">
			</div>
			<div class="hero__inner-sm inner">
				<h1 class="hero__titlelg titlelg"><span class="colorblue">Welcome</span>to Astrofit</h1>
				<div class="hero__footer">
					<a href="#" class="btn">Free training e-book</a>
				</div>
			</div>
		</div>
		<div class="hero__slide">
			<div class="hero__bg">
				<img src="./img/hero-slide.jpg" alt="img">
			</div>
			<div class="hero__inner-sm inner">
				<h1 class="hero__titlelg titlelg"><span class="colorblue">Welcome</span>to Astrofit</h1>
				<div class="hero__footer">
					<a href="#" class="btn">Free training e-book</a>
				</div>
			</div>
		</div>
		<div class="hero__slide">
			<div class="hero__bg">
				<img src="./img/hero-slide.jpg" alt="img">
			</div>
			<div class="hero__inner-sm inner">
				<h1 class="hero__titlelg titlelg"><span class="colorblue">Welcome</span>to Astrofit</h1>
				<div class="hero__footer">
					<a href="#" class="btn">Free training e-book</a>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__bottom">
		<div class="hero__inner inner">
			<div class="hero__counter js-slider-counter"></div>
			<ul class="hero__soc soc">
				<li><a href="#">{{ mixins.icon('fb') }}</a></li>
				<li><a href="#">{{ mixins.icon('inst') }}</a></li>
				<li><a href="#">{{ mixins.icon('youtube') }}</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- end hero -->