<!-- begin offers -->
<div class="offers md-hide">
	<div class="offers__inner inner">
		<h2 class="offers__title text-center titlesm">Choose the offer that  suits you</h2>
		<div class="offers__description text-center">Start your training and become a better version of yourself. NO EXCUSES!</div>
		<div class="offers__row row">
			<div class="offers__col col">
				<div class="offers__img">
					<img src="./img/offers-img.jpg" alt="img">
				</div>
				<div class="offers__wrap">
					<h3 class="offers__titlesm titlesm">Privat <br>training</h3>
					<div class="offers__text">Ask us</div>
					<div class="offers__list">
						<li>Get a 100% personal training</li>
						<li>Get more results</li>
						<li>A daily contact with the coach</li>
						<li>Be ready to work hard</li>
						<li>Become the better of yourself</li>
					</div>
				</div>
				<div class="offers__footer">
					<a href="#" class="offers__btn btn">Book</a><a href="#" class="btn btn_white offers__btnonhover">Book now</a>
				</div>
			</div>
			<div class="offers__col col">
				<div class="offers__img">
					<img src="./img/offers-img.jpg" alt="img">
				</div>
				<div class="offers__wrap">
					<h3 class="offers__titlesm titlesm">Semi-privat <br>training</h3>
					<div class="offers__text">Ask us</div>
					<div class="offers__list">
						<li>Meet new people</li>
						<li>Train with your friends</li>
						<li>Get some fun together</li>
						<li>Work hard</li>
						<li>Progress together</li>
					</div>
				</div>
				<div class="offers__footer">
					<a href="#" class="offers__btn btn">Book</a><a href="#" class="btn btn_white offers__btnonhover">Book now</a>
				</div>
			</div>
			<div class="offers__col col">
				<div class="offers__img">
					<img src="./img/offers-img.jpg" alt="img">
				</div>
				<div class="offers__wrap">
					<h3 class="offers__titlesm titlesm">Nutrition <br>guidance</h3>
					<div class="offers__text">Ask us</div>
					<div class="offers__list">
						<li>Nutrition is 60% of results</li>
						<li>Learn good nutrition habits</li>
						<li>Eat healthy and tasty</li>
						<li>Say no to diet and yes to good long-term habits</li>
						<li>Become healthier</li>
					</div>
				</div>
				<div class="offers__footer">
					<a href="#" class="offers__btn btn">Book</a><a href="#" class="btn btn_white offers__btnonhover">Book now</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end offers -->