.form
	&__title
		margin-bottom: 22px
		padding-right: 30px
	&__row
		margin: 0 -10px
		display: flex
		+sm
			flex-wrap: wrap
		&:not(:last-child)
			margin-bottom: 20px
	&__colname
		padding: 0 10px
		width: 30%
		min-width: 100px
		flex-shrink: 0
		+sm
			width: 100%
			margin-bottom: 20px
	&__colemail
		padding: 0 10px
		flex-grow: 1
	&__footer
		margin-top: 30px
		+sm
			margin-top: 40px
.field
	&:not(:last-child)
		margin-bottom: 20px
.input,
.textarea
	position: relative
	&.is-error
		input,
		textarea
			border: 1px solid #FF6523

	input,
	textarea
		padding: 18px 15px
		width: 100%
		color: $black
		+ftitle
		+f(16px,800,1.5)
		background-color: #F9F9F9
		display: block
		&::placeholder
			color: rgba($black, .2)
		&:focus
			&::placeholder
				font-size: 0
.error-text
	margin-top: 10px
	+ftitle
	+f(12px,400,1.5)
	color: #FF6523

.textarea
	textarea
		outline: none
		height: 215px
		resize: none
		border: none

.form-success
	letter-spacing: 0.1em
	color: #089316
	text-transform: uppercase
	+ftitle
	+f(16px,700,1.5)
	align-items: center
	display: flex
	svg
		margin-right: 10px