.icon-calendar {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-fb {
  width: 0.94em;
  height: 1em;
  fill: currentColor;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-pin {
  width: 0.7em;
  height: 1em;
  fill: currentColor;
}
.icon-switch {
  width: 1.93em;
  height: 1em;
  fill: currentColor;
}
.icon-time {
  width: 0.96em;
  height: 1em;
  fill: currentColor;
}
.icon-tools-and-utensils {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-youtube {
  width: 1.05em;
  height: 1em;
  fill: currentColor;
}
